.faq-section {
  background-color: #f9f9f9;
  margin-bottom: 4em;
}

.faq-container {
  width: 100%;
}
@media only screen and (min-width: 774px) {
  .faq-container {
    margin: 0 auto;
    max-width: 800px;
  }
}

.card {
  margin-bottom: 10px;
}
.card-header {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ddd;
  background-color: #fff;
  border-bottom: none;
  padding-bottom: 10px;
}

.card-header h4 {
  font-size: 16px;
  padding-top: 5px;
}

.card-header a {
  display: block;
  color: #777;
}

.card-body {
  padding: 30px;
  line-height: 1.6 !important;
  border-top: 1px solid #ddd;
  transition: max-height 0.35s;
}

/* Question and icons  */
.active-title {
  color: var(--secondary);
}

.remove-icon {
  fill: var(--secondary);
}

.question-title {
  cursor: pointer;
}
