.faq-section {
  background-color: #f9f9f9;
  margin-bottom: 4em;
}

.faq-container {
  width: 100%;
  padding: 1em;
}

@media only screen and (min-width: 774px) {
  .faq-container {
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
  }
}

.accordeon-item {
  border-bottom: 1px solid #e0e1eb;
}

.accordeon-title {
  font-size: 19px;
  margin: 0;
  position: relative;
  line-height: 1.5em;
  cursor: pointer;
}

.accordeon-title:hover {
  color: var(--secondary);
}

.accordeon-title-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1em 0;
  color: inherit;
}

.accordition-content {
  overflow: hidden;
}

/* Question and icons  */
.active-title {
  color: var(--secondary);
  font-weight: 600;
}

.question-icon {
  font-size: 1.5rem;
}

.remove-icon {
  font-size: 1.5rem;
  fill: var(--secondary);
}
